<html>
<head>
    {% load staticfiles %}
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css" media="screen" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://form-serialize.googlecode.com/svn/trunk/serialize-0.2.min.js"></script>
    <script type="text/javascript" src="http://listjs.com/no-cdn/list.js"></script>
    <script src="http://listjs.com/no-cdn/list.fuzzysearch.js"></script>
    <script src="http://listjs.com/no-cdn/list.pagination.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById('btnSubmit').onclick = function() {
                var r = new XMLHttpRequest();
                r.open('POST', '/{{wid}}/save', true);
                r.setRequestHeader("X-CSRFToken", document.forms[0]['csrfmiddlewaretoken'].value);
                r.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                r.send(serialize(document.forms[0]));
                return false;
            };
        };
    </script>
    <meta charset=utf-8 />
</head>

<body>
<form action="" method="post">
{% csrf_token %}
<div id="category_picker">
    <div id="categories">
      <input class="search" placeholder="Search" />
      <button class="sort" data-sort="name">
        Sort by name
      </button>

      <ul class="list height-500px">
        {% for category in categories %}
        <li>
          <input type="checkbox" class="selected_category" name="categories" value="{{category}}" />
          <a href="#"><h3 class="name">{{category}}</h3></a>
        </li>
        {% endfor %}
      </ul>
      <ul class="pagination"></ul>
    </div>
</div>
<input id="btnSubmit" type="submit" value="Submit"/>
</form>

<div id="selected_categories">
    <ul class="list height-250px">
    </ul>
</div>
<div id="pages_list" class="height-250px"></div>
<div id="details"></div>

<script type="text/javascript">
    var options = {
      valueNames: [ 'name' ],
      page: 200,
      plugins: [ ListPagination({}) ]
    };

    var userList = new List('categories', options);
    var selectedList = new List('selected_categories', {
        valueNames: [ 'name' ],
        item: '<li><h3 class="name"></h3></li>'
    });

    $('#category_picker').on('click', '.list li h3', function() {
        var r = new XMLHttpRequest();
        r.open('GET', '/{{wid}}/p/' + $(this).text());
        r.onreadystatechange = function () {
          if (r.readyState != 4 || r.status != 200) return;
          $('#pages_list').html(r.responseText);
        };
        r.send();
    });

    $('#category_picker').on('change', '.list input', function() {
        if($(this).is(':checked')) {
            selectedList.add({name: $(this).val()});
        } else {
            selectedList.remove('name', $(this).val());
        }
    });

    $('#pages_list').on('click', 'li a', function() {
        var r = new XMLHttpRequest();
        r.open('GET', '/{{wid}}/d/' + $(this).data().id);
        r.onreadystatechange = function () {
          if (r.readyState != 4 || r.status != 200) return;
          $('#details').html(r.responseText);
        };
        r.send();
    });
</script>
</body>
</html>